body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 50px auto;
}
label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
textarea {
    width: 100%;
    height: 200px;
}