<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>音声文字起こしツール</title>
  <link rel="stylesheet" href="../static/app.css" />
</head>
<body>
  <h1>音声文字起こしツール</h1>
  <form id="transcribe-form">
    <label for="url">動画のURL:</label>
    <input type="text" id="url" name="url" placeholder="https://..." required>
    <label for="model-select"></label>
    <select name="model" id="model-select">
      <option value="">使用するモデルを選択してください</option>
      <option value="tiny">tiny</option>
      <option value="base">base</option>
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
    </select>
    <label for="submit"></label>
    <button id="submit" type="submit">送信して文字起こし</button>
  </form>

  <h2>結果</h2>
  <textarea id="result" readonly></textarea>
</body>
<script src="../static/app.js" type="module"></script>  
</html>